/* .tech-partner-container{
    background-color: red;
    height: 100vh;
    width: 100%;
    background-color: white;
 

}
.card-container{
 
    display: flex;
    gap: 3vh;
    justify-content: center;
    
}
.card{
    width: 20vh;
    height: 13vh;
    
     background:white;
    border:1px solid #f7f2f2;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);

    transition: all 0.35s ease;
    cursor:pointer;
    padding: 3px;
    margin: 5vh 0;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.tech-partner-container h1 {
   
    text-align: center;
    margin: 5vh 0vh ;
    
}
.tech-partner-container h1 span{
    color:#FAB713;
} */

.tech-partner-container{
    width:100%;
    min-height: 100vh;
    background-color:white;
    padding:40px 15px;
}

/* card container */

.card-container{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;   /* important: cards next line me aa jayenge */
}

/* .card-container2{
    display:flex;
    gap:20px;
    justify-content:center;
    background: red;
    
} */

/* card */

.card{
    width:150px;
    height:90px;

    background:white;
    border:1px solid #f7f2f2;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);

    transition:all 0.35s ease;
    cursor:pointer;
    padding:5px;
}

/* image */

.card img{
    height:100%;
    width:100%;
    object-fit:contain;
}

/* heading */

.tech-partner-container h1{
    text-align:center;
    margin:40px 0;
}

.tech-partner-container h2{
    text-align:center;
    margin:40px 0;
}

.tech-partner-container h1 span{
    color:#FAB713;
}

/* .card2{
    width:150px;
    height:90px;

    background:white;
    border:1px solid #f7f2f2;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);

    transition:all 0.35s ease;
    cursor:pointer;
    padding:5px;
} */
/* .card2 img{
    height:100%;
    width:100%;
    object-fit:contain;
} */

.card-container2{
    display:flex;
    gap:20px;
    justify-content:center;
    background:red;
    overflow:hidden;
}

/* inner wrapper jo move karega */
.card-wrapper{
    display:flex;
    gap:20px;
    animation: slideCards 30s linear infinite;
}

.card2{
    width:150px;
    height:60px;
    background:white;
    border:1px solid #f7f2f2;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:all 0.35s ease;
    cursor:pointer;
    padding:5px;
}

.card2 img{
    height:100%;
    width:100%;
    object-fit:contain;
}

/* keyframe animation */
@keyframes slideCards{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@media (max-width:768px){

.card-container{
    justify-content:center;
}

.card{
    flex:0 0 140px;   /* shrink nahi karega */
    height:80px;
}

}