.hero-container{
    background: linear-gradient(to right, #11163B, #1B2C2500), url("../../../public/heroImage.jpg");
    min-height: 90vh;
    width: 100%;
    color: white;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1px;
}
.container{
    padding: 2vh 0;
    width: 70%;
    margin:  15vh;
    
    
    
}
.container h5{
    font-weight:100;

}
.container h1{
    font-size: 5.7vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    line-height: 7vh;

}
.container p{
    font-size: 2vh;
    width: 50%; 
    line-height: 3vh;
    margin-bottom: 5vh;
    margin-top: 2vh;

}
.data{
    position: relative;
    display: flex;
}
.box-cont{
    height: 160px;
    width: 130px;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 15px;
    font-weight: 600;
    background:white;
    border:1px solid #e5e5e5;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    margin-right: 20vh;
    border-radius: 2vh;

    
    
}
.title{
    margin-top: 3vh;
    width: 50%;

}
.cont{
    display: flex;
}

.circl{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-left:-15px;  
    margin-bottom: 1vh;
    
}

.circl img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box-cont .bottom img{
    margin-top: 4vh;
    height: 30px;
    width: 100%;
}
.button{
    background-color: #FAB713;
    border: none;
    padding: 1.5vh 1.5vh;
    border-radius: 1.3vh;

}



.card-wrapper{
    display:flex;
    gap:20px;
   
}
.card{
    width:150px;
    height:60px;
    background:white;
    border:1px solid #f7f2f2;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    cursor:pointer;
    padding:5px;
     background-color: red;
}

.card img{
    height:100%;
    width:100%;
    object-fit:contain;
}

@media (max-width:768px){
  .box-cont{
    display:none;
    opacity: 0;
  }
  .container{
    width: 100%;
    margin: 0;
    padding: 3vh;
  }
  .title{
    width: 100%;
  }
  .container p{
    width: 100%;
    margin-top: 2vh;
  }

}