.tech-partner-container{
    width:100%;
    min-height: 80vh;
    background-color:white;
    padding:40px 15px;
   
}

/* card container */

.card-container{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;   /* important: cards next line me aa jayenge */
}


.card{
    width:150px;
    height:90px;

    background:white;
    border:1px solid #f7f2f2;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);

    transition:all 0.35s ease;
    cursor:pointer;
    padding:5px;
}

/* image */

.card img{
    height:100%;
    width:100%;
    object-fit:contain;
}

/* heading */

.tech-partner-container h1{
    text-align:center;
    margin:40px 0;
}

.tech-partner-container h2{
    text-align:center;
    margin:40px 0;
}

.tech-partner-container h1 span{
    color:#FAB713;
}


.card-container2{
    display:flex;
    gap:20px;
    justify-content:center;
    overflow:hidden;
}


.card-wrapper{
    display:flex;
    gap:20px;
    /* animation: slideCards 30s linear infinite; */
}

.card2{
    width:150px;
    height:60px;
    background:white;
    border:1px solid #f7f2f2;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:all 0.35s ease;
    cursor:pointer;
    padding:5px;
}

.card2 img{
    height:100%;
    width:100%;
    object-fit:contain;
}

/* keyframe animation */
@keyframes slideCards{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@media (max-width:768px){

.card-container{
    justify-content:center;
}

.card{
    flex:0 0 140px;   /* shrink nahi karega */
    height:80px;
}

}